@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&family=Roboto:wght@400;700&display=swap');

body {
  background: center / cover no-repeat url('./assets/bg.jpg');
  color: #fff;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
